@import '../../../configs/colors.css';

h6 {
    color: var(--primary);
    font-weight: bold !important; 
}

/* Stile quando i dati sono validi */
.Mui-focused {
    color: green; /* Imposta il colore quando i dati sono validi */
    border-color: green; /* Imposta il colore del bordo quando i dati sono validi */
  }
  
  /* Stile per il bordo quando i dati non sono validi */
  .Mui-error .Mui-focused {
    border-color: red; /* Cambia il colore del bordo quando i dati non sono validi */
  }/* Stile quando i dati sono validi */
.Mui-focused {
    color: green; /* Imposta il colore quando i dati sono validi */
    border-color: green; /* Imposta il colore del bordo quando i dati sono validi */
  }
  
  /* Stile per il bordo quando i dati non sono validi */
  .Mui-error .Mui-focused {
    border-color: red; /* Cambia il colore del bordo quando i dati non sono validi */
  }